---
import Projects from '../components/Projects.astro';
import '../styles/global.css';

const pageTitle = "About Me";

const identity = {
  firstName: "Austine",
  country: "Kenya",
  occupation: "Security Researcher",
//   hobbies: ["Reading Books", "Dancing", "Making Content"],
  course: ["IT"]
};

const skills = ["JavaScript", "React", "Python", "Making Content"];
// const interests = ["InfoSec"]

const skillColor = "navy";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/ico" href="/logo.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Iceland&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
    <style define:vars={{skillColor}}>
        h1 {
            color: purple;
            font-size: 2rem;
            font-weight: bold;
        }
        .skill {
            color: var(--skillColor);
            font-weight: bold;
        }
    </style>
  </head>
  <body >
    <div class="text-white text-xl ml-28 font-iceland">
      <p><a href="/"><i class="fas fa-arrow-left text-custom-green hover:text-white"> Home</i></a></p>
      <h1>{pageTitle}</h1>
    <ul>
        <li>I live in {identity.country}. and I am a student studying {identity.course}</li>
    </ul>
    <h2>Skills</h2>
    <ul>
        {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    <!-- <h2>Interests</h2>
    <ul>
        {interests.map((interest) => <li>{interest}</li>)}
    </ul> -->
    <h2>Here are my Github Projects:</h2>
    <Projects />
    <p>This site will update as I add stuff, so keep checking back</p>
    </div>  
    <script>
      // import "../scripts/menu.js";
      import "../scripts/projects.js";
    </script>
  </body>
</html>